# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Some libs
/faked
faked.so
faked.dylib
faked.dll
faked.a
faked.lib
faked-test-*
*.exe
*.o
*.obj

# Code coverage
*.lst
